/* =========================

   1. Custom properties

========================= */

:root {
    --color-background: #0a0a0a;
    --color-background-alt: #373535;
    --color-surface: #615a5a;
    --color-text: #e0e0e0eb;
    --color-accent: #7c2821;
    --color-accent2: rgb(114, 38, 33);

    --navbar-height: 60px;
}

/* =========================

   2. Reset / base

========================= */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--navbar-height) + 2rem);
    text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    margin: 0;

    background-color: var(--color-background);
    color: var(--color-text);

    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* =========================

   3. Typography

========================= */

h1,
h2,
h3,
a {
    font-family: 'Courier Prime', monospace;
}

a {
    color: var(--color-text);
    font-size: 1rem;
}

/* =========================

   4. Layout - general

========================= */

#intro,
#stage,
#archives,
#host,
#method,
#testimonials,
#subscribe {
    max-width: 70%;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

main > section {
    width: 100%;
    /*max-width: 80%;*/
    margin-inline: auto;
}
/* =========================

   5. Header / navigation

========================= */

#navbar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;

    transform: translateY(-100%);
    animation: lower-navbar 0.75s ease-out 3s forwards;
}
@keyframes lower-navbar {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

#nav-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;

    min-height: var(--navbar-height);
    margin: 0;
    padding: 0;

    background-color: var(--color-background-alt);
    list-style: none;
}

.nav-item {
    flex: 1 1 0;
    display: flex;
}

.nav-item a {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    text-align: center;
    /*padding-inline: 2rem;*/
    white-space: nowrap;

    transition:
        background-color 0.5s ease-in-out,
        color 0.5s ease-in-out;
}

.nav-item a:hover,
.nav-item a:focus-visible {
    background-color: var(--color-accent);
    /*color: var(--color-background);*/
    font-weight: 600;
}


/* =========================

   6. Hero

========================= */

#hero {
    position: relative;
    min-height: 100vh;
    padding: 2rem;

    display: grid;
    place-items: center;

    background-image: linear-gradient(
                        to bottom, 
                        transparent 25%,
                        rgb(10 10 10/ 0.25)50%, 
                        rgb(10 10 10/ 0.35)70%, 
                        rgb(10 10 10/ 0.7)88%,
                       var(--color-background) 98%
                        ), 
                    url('images/hero_02_red-pump.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

#hero-content h1,
#hero-content p {
    opacity: 0;
    transform: translateY(1.5rem);
}

#hero-content h1 {
    animation: reveal-title 1.2s ease-out  0.5s forwards;
}
#hero-content p {
    animation: reveal-subtitle 1.2s ease-out 1.5s forwards;
}

@keyframes reveal-title {
  from {
    opacity: 0;
    transform: translateY(1.5rem);
    filter: blur(0.25rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

@keyframes reveal-subtitle {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero-content {
    display: grid;
    gap: 0.75rem;
    text-align: center;

    transform: translateY(-18vh);
}

#hero-title {
    /*margin-top: -20vh;
    margin-bottom: 1rem;*/
    margin: 0;

    font-family: 'Courier Prime', monospace;
    font-size: 5rem;
    font-weight: 400;
}

#hero-subtitle {
    margin: 0;

    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 0.08em;

}

#hero-cta-button {
    position: absolute;
    left: clamp(1.5rem, 5vw, 5rem);
    bottom: clamp(3rem, 8vh, 7rem);
    
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.9rem 1.6rem;

    font-family: 'Courier Prime', monospace;
    font-size: 1.2rem;
    font-weight: 400;

    color: var(--color-text);
    background-color: var(--color-accent2);
    border: none;
    border-radius: 0.25rem;

    cursor: pointer;
}


#hero-cta-button {
    opacity: 0;
    transform: translateY(1rem);

    animation: reveal-cta 0.8s ease-out 2.8s forwards;

    transition:
        transform 0.8s ease-in-out,
        background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;
}

#hero-cta-button:hover,
#hero-cta-button:focus-visible {
    background-color: var(--color-accent);
    font-weight: 600;
}
/*nieuwe shit*/
#hero-cta-button span {
    display: inline-block;
    transition: transform 0.25s ease-in-out;
}

#hero-cta-button:hover span,
#hero-cta-button:focus-visible span {
    transform: scale(1.1);
}
@keyframes reveal-cta {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================
   7. Sections - general
========================= */    

h2.section-title {
    font-family: 'Courier Prime', monospace;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.section-title {
    opacity: 0;
    transform: translateY(8rem);

    transition:
        opacity 2s ease-out,
        transform 0.8s ease-out;
}

.section-title.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.section {
    padding: 0rem 1.5rem;
    min-height: 85vh;
    display: grid;
    align-content: start;
}

section .section {
    margin-top: 10rem;
}

.section-content {
    font-size: 1.2rem;
    font-weight: 40;
}

.reveal-content{
    opacity: 0;

    transition:
        opacity 0.8s ease-out .6s
}
.reveal-content.is-visible {
    opacity: 1;
    
    transition:
        opacity 0.2 ease-out 2s
}
/* =========================

   . Intro

========================= */
#intro-scene    {
    position: relative;
}

.intro-border   {
    opacity: 0;
    position: absolute;
    top:-20rem;
    left: -9rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: left;*/

    background-color: none;
}

.line {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 0.3rem;
    height: 80rem;
    margin: 1rem;
    border-radius: 0.25rem;
    background-color: var(--color-accent);
}

.intro-border.is-visible {
    animation: line-descend 3s linear 2.5s forwards;
}

@keyframes line-descend {
  0% {
    opacity: 0;
    transform: translateY(0rem);
  }

 /* 25% {
    opacity: 1;
    transform: translateY(-40rem);
  }

  75% {
    opacity: 1;
    transform: translateY(40rem);
  }*/

  100% {
    opacity: 0;
    transform: translateY(40rem);
  }
}




.morse-help {
    /*border: 1px solid var(--color-accent);*/
    opacity: 0;
    position: absolute;
    top:-20rem;
    left: -9rem;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: left;

    background-color: none;
}

.morse-help.is-visible {
    animation: morse-descend 8s linear 0.5s forwards;
}

@keyframes morse-descend {
  0% {
    opacity: 0;
    transform: translateY(-80rem);
  }

  25% {
    opacity: 1;
    transform: translateY(-40rem);
  }

  75% {
    opacity: 1;
    transform: translateY(40rem);
  }

  100% {
    opacity: 0;
    transform: translateY(80rem);
  }
}

.morse-h    {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.morse-e {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.morse-l {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.morse-p {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dot {
    width: 0.3rem;
    height: 0.3rem;
    margin: 1rem;
    border-radius: 50%;
    background-color: var(--color-accent);
}

.dash {
    width: 0.3rem;
    height: 2.5rem;
    margin: 1rem;
    border-radius: 0.25rem;
    background-color: var(--color-accent);
}

#intro {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 0rem 1.5rem;

    transition:
        border-left 0.5s ease-in-out;

    /*border-left: 1px solid var(--color-accent);*/
}
#intro-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
#intro-text-wrapper {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 40;

    text-align: justify;
}

video {
    display: block;
    width: 100%;
    height: auto;
    /*object-fit: cover;*/
}
.intro-video-wrapper {

    /*width: min(80%, 60rem);*/
    flex: 2;

    margin-inline: auto;
    aspect-ratio: 16/9;
    
    /*position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;*/
}

.intro-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    background-color: var(--color-background-alt);
}


/* =========================
   . Subscribe
========================= */

#cta {
    min-height: 85vh;
    display: grid;
    align-content: center;
    padding: 6rem 1.5rem;
}
